<div class="main-content clearfix" data-sidebar="right">
	<div class="kd-container">
		<div class="kd-row">
			<div class="blog-posts">
				<div class="wrap-posts clearfix">
					{{# each data.posts.results}}
						<div class="kd-col">
							<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
								<!-- Thumbnail -->
								<div class="post-media">
									{{#if image}}
									<a href="#">
										<div class="image" style="background-image:url({{image.url}})">
											<img src="{{image.url}}">
										</div>
									</a>
									{{/if}}
								</div>
								<!-- End Thumbnail -->

								<!-- Content -->
								<div class="post-content">
									<!--Category-->
									<div class="post-cat">
										{{{categoryList categories}}}
									</div>
									<!--End Category-->

									<h2 class="title">
										<a href="{{postUrl slug}}">{{{title}}}</a>
									</h2>
									<hr class="divider"/>

									<div class="date">
										{{date publishedDate format='YYYY-MM-DD'}}
									</div>
									<div class="the-excerpt">
										<p>
											{{{content.brief}}}
										</p>
									</div>

									<div class="post-footer">
										<div class="table">
											<div class="table-cell post-detail">
												<a href="#" class="post-format">
													<i class="fa fa-picture-o"></i>
												</a>
												<a href="#" class="post-author">
													{{#if author.name.first}}by {{author.name.first}}{{/if}}
												</a>
												<!--<a href="#" class="post-comment-count">-->
													<!--05 Comments-->
												<!--</a>-->
											</div>
											<div class="table-cell read-more">
												{{#if content.extended}}<p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>{{/if}}
											</div>
											<div class="table-cell post-share">
												<a href="#">
													<i class="fa fa-facebook"></i>
												</a>
												<a href="#">
													<i class="fa fa-twitter"></i>
												</a>
												<a href="#">
													<i class="fa fa-google-plus"></i>
												</a>
												<a href="#">
													<i class="fa fa-digg"></i>
												</a>
											</div>
										</div>

									</div>

								</div>
								<!-- End Content -->
							</div>
						</div>
					{{/each}}
				</div>

				<!-- Pagination -->
				<div class="pagination clearfix">
					<div class="old-post">
						<a href="#">Old Posts</a>
					</div>
					<div class="new-post">
						<a href="#">Newer Posts</a>
					</div>
				</div>
				<!-- End Pagination -->
			</div>

			<!-- Sidebar -->
			<div class="sidebar">

				<!-- Widget About -->
				{{> widgets/about}}
				<!-- End Widget About -->

				<!-- Follow Me -->
				{{> widgets/followme}}
				<!-- End Follow Me -->

				<!-- Latest Posts -->
				{{> widgets/latestposts}}
				<!-- End Latest Posts -->

				<!-- Popular Posts -->
				{{> widgets/popularposts}}
				<!-- End Popular Posts -->

				<!-- MailChimp -->
				{{> widgets/mailchimp}}
				<!-- End MailChimp -->

				<!-- Banner -->
				{{> widgets/banner}}
				<!-- End Banner -->


				<!-- Twitter -->
				{{> widgets/twitter}}
				<!-- End Twitter -->
			</div>
			<!-- End Sidebar -->
		</div>

	</div>

</div>
