<div class="main-content clearfix" data-sidebar="right">
	<div class="kd-container">
		<div class="kd-row">
			<div class="blog-posts">
				<div class="wrap-posts clearfix">
					<div class="kd-col">
						<div class="post post-single">

							<!-- Thumbnail -->
							<div class="post-media">
								{{#if data.post.image}}
									<a href="#">
										<div class="image" style="background-image:url({{data.post.image.url}})">
											<img src="{{data.post.image.url}}">
										</div>
									</a>
								{{/if}}
							</div>
							<!-- End Thumbnail -->

							<!-- Content -->
							<div class="post-content">
								<!--Category-->
								<div class="post-cat">
									{{{categoryList data.post.categories}}}
								</div>
								<!--End Category-->

								<h2 class="title">
									{{data.post.title}}
								</h2>
								<hr class="divider" />

								<div class="date">
									{{date data.post.publishedDate format='YYYY-MM-DD'}}
								</div>
								<div class="the-excerpt">
									{{{data.post.content.extended}}}
								</div>
							</div>
							<!-- End Content -->

							<!-- Post Footer -->
							<!--<div class="post-footer">-->
								<!--<div class="table">-->
									<!--<div class="table-cell post-detail">-->
										<!--<a href="#" class="post-format">-->
											<!--<i class="fa fa-picture-o"></i>-->
										<!--</a>-->
										<!--<a href="#" class="post-author">-->
											<!--By Admin-->
										<!--</a>-->
										<!--<a href="#" class="post-comment-count">-->
											<!--05 Comments-->
										<!--</a>-->
									<!--</div>-->
									<!--<div class="table-cell post-share">-->
										<!--<a href="#">-->
											<!--<i class="fa fa-facebook"></i>-->
										<!--</a>-->
										<!--<a href="#">-->
											<!--<i class="fa fa-twitter"></i>-->
										<!--</a>-->
										<!--<a href="#">-->
											<!--<i class="fa fa-google-plus"></i>-->
										<!--</a>-->
										<!--<a href="#">-->
											<!--<i class="fa fa-digg"></i>-->
										<!--</a>-->
									<!--</div>-->
								<!--</div>-->

							<!--</div>-->
							<!-- End Post Footer -->

							<!-- Navigation Posts -->
							<!--<div class="pagination clearfix">-->
								<!--<div class="new-post">-->
									<!--<a href="#">PAINTING IS JUST ANOTHER WAY OF KEEPING A DIARY</a>-->
								<!--</div>-->
								<!--<div class="old-post">-->
									<!--<a href="#">STATE OF THE ART ENGINEER AT YOUR FINGERTIPS</a>-->
								<!--</div>-->
							<!--</div>-->
							<!-- End Navigation Posts -->
						</div>

						<!-- Post Author Box -->
						<!--<div id="post-author" class="clearfix">-->

							<!--<a href="#">-->
								<!--<div class="avatar" style="background-image: url(images/avatar.jpg)">-->
									<!--<img src="images/avatar.jpg" alt=""/>-->
								<!--</div>-->
							<!--</a>-->

							<!--<div class="post-author-content">-->
								<!--<div class="author-top">-->
									<!--<div class="author-name">-->
										<!--<h5>Julia Perez</h5>-->
									<!--</div>-->
									<!--<div class="author-socials">-->
										<!--<a href="#"><i class="fa fa-facebook"></i></a>-->
										<!--<a href="#"><i class="fa fa-google-plus"></i></a>-->
										<!--<a href="#"><i class="fa fa-twitter"></i></a>-->
										<!--<a href="#"><i class="fa fa-pinterest"></i></a>-->
										<!--<a href="#"><i class="fa fa-instagram"></i></a>-->
									<!--</div>-->
								<!--</div>-->
								<!--<p>-->
									<!--Nullam auctor mi non turpis molestie, non consectetur libero pellentesque. In venenatis, leo ac pellentesque maximus, turpis eros facilisis augue, et venenatis eros dolor at nisi. Duis eu dolor sed felis ullamcorper placerat et sed massa.-->
								<!--</p>-->
							<!--</div>-->

						<!--</div>-->
						<!-- End Post Author Box -->

						<!-- Related Posts -->
						<!--<div id="related-posts" class="related-posts">-->
							<!--<h2 class="related-posts-title title">YOU MAY ALSO LIKE</h2>-->
							<!--<div class="related-wrap">-->
								<!--<table class="related-table">-->
									<!--<tbody>-->
									<!--<tr>-->
										<!--<td>-->
											<!--<div class="post related-item">-->
												<!--<a href="#">-->
													<!--<div class="image" style="background-image: url(images/posts/24.jpg)">-->
														<!--<img src="images/posts/24.jpg" alt=""/>-->
													<!--</div>-->
												<!--</a>-->
												<!--<h3 class="title"><a href="#">I LIKE TO DISCUSS THE PLANS WITH AN EXPERT</a></h3>-->
											<!--</div>-->
										<!--</td>-->
										<!--<td>-->
											<!--<div class="post related-item">-->
												<!--<a href="#">-->
													<!--<div class="image" style="background-image: url(images/posts/25.jpg)">-->
														<!--<img src="images/posts/25.jpg" alt=""/>-->
													<!--</div>-->
												<!--</a>-->
												<!--<h3 class="title"><a href="#">LET’S TAKE A CHANCE AND HOPE FOR THE BEST</a></h3>-->
											<!--</div>-->
										<!--</td>-->
										<!--<td>-->
											<!--<div class="post related-item">-->
												<!--<a href="#">-->
													<!--<div class="image" style="background-image: url(images/posts/26.jpg)">-->
														<!--<img src="images/posts/26.jpg" alt=""/>-->
													<!--</div>-->
												<!--</a>-->
												<!--<h3 class="title"><a href="#">CHANGE YOUR LIFE IF YOU FEEL IT’S NECESSARY</a></h3>-->
											<!--</div>-->
										<!--</td>-->

									<!--</tr>-->
									<!--</tbody>-->
								<!--</table>-->
							<!--</div>-->

						<!--</div>-->
						<!-- End Related Posts -->

						<!-- Comments -->
						<!--<div id="comments" class="comments">-->
							<!--<div class="comment-wrap">-->
								<!--<h3 id="comments-title" class="comments-title">3 Comments</h3>-->

								<!--<ul class="commentlist">-->
									<!--<li class="comment">-->
										<!--<div class="comment-box">-->
											<!--<div class="comment-author">-->
												<!--<a href="#"><img src="images/author-comment.jpg" alt=""></a>-->
											<!--</div>-->
											<!--<div class="comment-body">-->
												<!--<cite class="fn">-->
													<!--<a href="#">-->
														<!--Ryan Little-->
													<!--</a>-->
												<!--</cite>-->
												<!--<div class="comment-meta">-->
													<!--<span>July 12, 2014</span>-->
												<!--</div>-->
												<!--<p>Mauris tincidunt, quam at feugiat efficitur, justo nunc efficitur justo, a hendrerit lectus neque eu nibh. Praesent eu sem erat. Fusce non sagittis lorem.</p>-->
											<!--</div>-->
											<!--<div class="comment-edit-reply">-->
												<!--<a href="#" class="comment-edit-link">Edit</a>-->
												<!--<a href="#" class="comment-reply-link">Reply</a>-->
											<!--</div>-->
										<!--</div>-->
										<!--<ul class="children">-->
											<!--<li class="comment">-->
												<!--<div class="comment-box">-->
													<!--<div class="comment-author">-->
														<!--<a href="#"><img src="images/author-comment.jpg" alt=""></a>-->
													<!--</div>-->
													<!--<div class="comment-body">-->
														<!--<cite class="fn"><a href="#">Ryan Little</a></cite>-->
														<!--<div class="comment-meta">-->
															<!--<span>July 12, 2014</span>-->
														<!--</div>-->
														<!--<p>Aliquam volutpat elit non urna faucibus condimentum. Pellentesque nibh libero, consequat at nibh a, tincidunt rutrum magna. Curabitur in posuere risus, dictum euismod dolor. Vestibulum auctor orci sed elit ultricies tempus. Praesent facilisis tellus turpis, ac congue lorem consectetur ac.</p>-->
													<!--</div>-->
													<!--<div class="comment-edit-reply">-->
														<!--<a href="#" class="comment-edit-link">Edit</a>-->
														<!--<a href="#" class="comment-reply-link">Reply</a>-->
													<!--</div>-->
												<!--</div>-->
											<!--</li>-->
										<!--</ul>-->
									<!--</li>-->
									<!--<li class="comment">-->
										<!--<div class="comment-box">-->
											<!--<div class="comment-author">-->
												<!--<a href="#"><img src="images/author-comment.jpg" alt=""></a>-->
											<!--</div>-->
											<!--<div class="comment-body">-->
												<!--<cite class="fn"><a href="#">Ryan Little</a></cite>-->
												<!--<div class="comment-meta">-->
													<!--<span>July 12, 2014</span>-->
												<!--</div>-->
												<!--<p>Pellentesque nibh libero, consequat at nibh a, tincidunt rutrum magna. Curabitur in posuere risus, dictum euismod dolor. Vestibulum auctor orci sed elit ultricies tempus. Praesent facilisis tellus turpis, ac congue lorem consectetur ac.</p>-->
											<!--</div>-->
											<!--<div class="comment-edit-reply">-->
												<!--<a href="#" class="comment-edit-link">Edit</a>-->
												<!--<a href="#" class="comment-reply-link">Reply</a>-->
											<!--</div>-->
										<!--</div>-->
									<!--</li>-->
								<!--</ul>-->
							<!--</div>-->
						<!--</div>-->
						<!-- End Comments -->

						<!-- Respond -->
						<!--<div id="respond" class="comment-respond">-->
							<!--<div class="respond-title">LEAVE A COMMENT</div>-->

							<!--<form action="#">-->
								<!--<div class="contact-item">-->
									<!--<label for="name">Your name *</label>-->
									<!--<input id="name" type="text"/>-->
								<!--</div>-->
								<!--<div class="contact-item">-->
									<!--<label for="email">Your email *</label>-->
									<!--<input id="email" type="text"/>-->
								<!--</div>-->
								<!--<div class="contact-item">-->
									<!--<label for="website">Your website </label>-->
									<!--<input id="website" type="text"/>-->
								<!--</div>-->
								<!--<div class="contact-item">-->
									<!--<label>Your Message *</label>-->
									<!--<textarea></textarea>-->
								<!--</div>-->
								<!--<div class="contact-item form-submit">-->
									<!--<input type="submit" value="SEND">-->
								<!--</div>-->
							<!--</form>-->
						<!--</div>-->
						<!-- End Respond -->


					</div>
				</div>

			</div>

			<!-- Sidebar -->
			<div class="sidebar">

				<!-- Widget About -->
				{{> widgets/about}}
				<!-- End Widget About -->

				<!-- Follow Me -->
				{{> widgets/followme}}
				<!-- End Follow Me -->

				<!-- Latest Posts -->
				{{> widgets/latestposts}}
				<!-- End Latest Posts -->

				<!-- Popular Posts -->
				{{> widgets/popularposts}}
				<!-- End Popular Posts -->

				<!-- MailChimp -->
				{{> widgets/mailchimp}}
				<!-- End MailChimp -->

				<!-- Banner -->
				{{> widgets/banner}}
				<!-- End Banner -->


				<!-- Twitter -->
				{{> widgets/twitter}}
				<!-- End Twitter -->
			</div>
			<!-- End Sidebar -->
		</div>

	</div>

</div>
<!-- End Posts -->
</div>
